!.gitignore
.git
.svn
.idea
*.log
.htaccess

.dockerignore
.editorconfig
.gitattributes
.gitignore
.styleci.yml
nginx.conf
node_modules

supervisord
supervisord.log
supervisord.pid
docker/Dockerfile
docker/Dockerfile.volume
docker/docker-compose.volume.yaml
docker/docker-compose.yaml
docker/README.md
vendor/
tests/
storage/*
