###################################公共配置###################################
# IDE配置
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 操作系统无用文件
.DS_Store
Thumbs.db
TEST.md

# 其它缓存类文件
*.swp
*.bak
*.tmp

# 日志文件
*.log

# 其它配置文件
.htaccess
supervisord
supervisord.log
supervisord.pid
vendor/
.gethub/


############################################################################
# Laravel4.2
################################Laravel4.2#################################
# 运行时生成的缓存、日志
Laravel/laravel-4.2/app/storage/*
# composer 依赖
Laravel/laravel-4.2/vendor/
# 测试文件
Laravel/laravel-4.2/app/tests/
############################################################################

# Laravel5.8
################################Laravel5.8#################################
# 运行时生成的缓存、日志
Laravel/laravel-5.8/storage/logs/*
# composer 依赖
Laravel/laravel-5.8/vendor/
# 测试文件
Laravel/laravel-5.8/tests/
############################################################################

# Laravel6.x
################################Laravel6.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-6.x/storage/logs/*
# composer 依赖
Laravel/laravel-6.x/vendor/
# 测试文件
Laravel/laravel-6.x/tests/
############################################################################

# Laravel7.x
################################Laravel7.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-7.x/storage/logs/*
# composer 依赖
Laravel/laravel-7.x/vendor/
# 测试文件
Laravel/laravel-7.x/tests/
############################################################################

# Laravel8.x
################################Laravel8.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-8.x/storage/logs/*
# composer 依赖
Laravel/laravel-8.x/vendor/
# 测试文件
Laravel/laravel-8.x/tests/
############################################################################

# Laravel9.x
################################Laravel9.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-9.x/storage/logs/*
# composer 依赖
Laravel/laravel-9.x/vendor/
# 测试文件
Laravel/laravel-9.x/tests/
############################################################################

# Laravel10.x
################################Laravel10.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-10.x/storage/logs/*
# composer 依赖
Laravel/laravel-10.x/vendor/
# 测试文件
Laravel/laravel-10.x/tests/
############################################################################

# Laravel11.x
################################Laravel11.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-11.x/storage/logs/*
# composer 依赖
Laravel/laravel-11.x/vendor/
# 测试文件
Laravel/laravel-11.x/tests/
############################################################################

# Laravel12.x
################################Laravel12.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-12.x/storage/logs/*
# composer 依赖
Laravel/laravel-12.x/vendor/
# 测试文件
Laravel/laravel-12.x/tests/
############################################################################

###########################################################################
# Webman1.6
################################Webman1.6#################################
# 运行时生成的缓存、日志
Webman/webman-1.6/runtime/*
# composer 依赖
Webman/webman-1.6/vendor/
############################################################################

###########################################################################
# Webman2.1
################################Webman2.1#################################
# 运行时生成的缓存、日志
Webman/webman-2.1/runtime/*
# composer 依赖
Webman/webman-2.1/vendor/
############################################################################

###########################################################################
# ThinkPHP5.0
################################ThinkPHP5.0#################################
# 运行时生成的缓存、日志
ThinkPHP/thinkphp-5.0/runtime/*
# composer 依赖
ThinkPHP/thinkphp-5.0/vendor/
ThinkPHP/thinkphp-5.0/thinkphp/
############################################################################

###########################################################################
# ThinkPHP5.1
################################ThinkPHP5.1#################################
# 运行时生成的缓存、日志
ThinkPHP/thinkphp-5.1/runtime/*
# composer 依赖
ThinkPHP/thinkphp-5.1/vendor/
ThinkPHP/thinkphp-5.1/thinkphp/
############################################################################

###########################################################################
# ThinkPHP6.x
################################ThinkPHP6.x#################################
# 运行时生成的缓存、日志
ThinkPHP/thinkphp-6.x/runtime/*
# composer 依赖
ThinkPHP/thinkphp-6.x/vendor/
ThinkPHP/thinkphp-6.x/.env
############################################################################

###########################################################################
# ThinkPHP8.x
################################ThinkPHP8.x#################################
# 运行时生成的缓存、日志
ThinkPHP/thinkphp-8.x/runtime/*
# composer 依赖
ThinkPHP/thinkphp-8.x/vendor/
ThinkPHP/thinkphp-8.x/.env
############################################################################

###########################################################################
# Yii1.1
################################Yii1.1#################################
Yii/yii-1.1/requirements/
############################################################################

###########################################################################
# Yii2.x
################################Yii2.x#################################
Yii/yii-2.x/runtime/*
# composer 依赖
Yii/yii-2.x/vendor/
Yii/yii-2.x/tests/
Yii/yii-2.x/tmp/
############################################################################

###########################################################################
# Ci2.x
################################Ci2.x#################################
CodeIgniter/ci-2.x/user_guide/
# composer 依赖
CodeIgniter/ci-2.x/vendor/
CodeIgniter/ci-2.x/tests/
CodeIgniter/ci-2.x/application/logs/*
CodeIgniter/ci-2.x/application/cache/*
############################################################################

###########################################################################
# Ci3.x
################################Ci3.x#################################
CodeIgniter/ci-3.x/user_guide/
# composer 依赖
CodeIgniter/ci-3.x/vendor/
CodeIgniter/ci-3.x/tests/
CodeIgniter/ci-3.x/application/logs/*
CodeIgniter/ci-3.x/application/cache/*
############################################################################

###########################################################################
# Ci4.x
################################Ci4.x#################################
CodeIgniter/ci-4.x/runtime/*
# composer 依赖
CodeIgniter/ci-4.x/vendor/
CodeIgniter/ci-4.x/tests/
CodeIgniter/ci-4.x/writeable/cache/*
CodeIgniter/ci-4.x/writeable/logs/*
CodeIgniter/ci-4.x/writeable/sessions/*
CodeIgniter/ci-4.x/writeable/debugbar/*
CodeIgniter/ci-4.x/user_guide/
############################################################################

###########################################################################
# Symfony3.x
################################Symfony3.x#################################
Symfony/symfony-3.x/var/*
# composer 依赖
Symfony/symfony-3.x/vendor/
Symfony/symfony-3.x/tests/
############################################################################

###########################################################################
# Symfony4.x
################################Symfony4.x#################################
Symfony/symfony-4.x/var/*
# composer 依赖
Symfony/symfony-4.x/vendor/
Symfony/symfony-4.x/tests/
############################################################################

###########################################################################
# Symfony5.x
################################Symfony5.x#################################
Symfony/symfony-5.x/var/*
# composer 依赖
Symfony/symfony-5.x/vendor/
Symfony/symfony-5.x/tests/
############################################################################

###########################################################################
# Symfony6.x
################################Symfony6.x#################################
Symfony/symfony-6.x/var/*
# composer 依赖
Symfony/symfony-6.x/vendor/
Symfony/symfony-6.x/tests/
############################################################################

###########################################################################
# Symfony7.x
################################Symfony7.x#################################
Symfony/symfony-7.x/var/*
# composer 依赖
Symfony/symfony-7.x/vendor/
Symfony/symfony-7.x/tests/
############################################################################

###########################################################################
# CakePHP3.x
################################CakePHP3.x#################################
# composer 依赖
CakePHP/cakephp-3.x/vendor/
CakePHP/cakephp-3.x/tests/
CakePHP/cakephp-3.x/tmp/*
CakePHP/cakephp-3.x/logs/*
############################################################################

###########################################################################
# CakePHP4.x
################################CakePHP4.x#################################
# composer 依赖
CakePHP/cakephp-4.x/vendor/
CakePHP/cakephp-4.x/tests/
CakePHP/cakephp-4.x/tmp/*
CakePHP/cakephp-4.x/logs/*
############################################################################

###########################################################################
# CakePHP5.x
################################CakePHP5.x#################################
# composer 依赖
CakePHP/cakephp-5.x/vendor/
CakePHP/cakephp-5.x/tests/
CakePHP/cakephp-5.x/tmp/*
CakePHP/cakephp-5.x/logs/*
############################################################################

###########################################################################
# Hyperf-1.x
################################Hyperf-1.x#################################
# composer 依赖
Hyperf/hyperf-1.x/vendor/
Hyperf/hyperf-1.x/test/
Hyperf/hyperf-1.x/runtime/
############################################################################

###########################################################################
# Hyperf-2.x
################################Hyperf-2.x#################################
# composer 依赖
Hyperf/hyperf-2.x/vendor/
Hyperf/hyperf-2.x/test/
Hyperf/hyperf-2.x/runtime/
############################################################################

###########################################################################
# Hyperf-3.x
################################Hyperf-3.x#################################
# composer 依赖
Hyperf/hyperf-3.x/vendor/
Hyperf/hyperf-3.x/test/
Hyperf/hyperf-3.x/runtime/
############################################################################

###########################################################################
# Slim-4.x
################################Slim-4.x#################################
# composer 依赖
Slim/slim-4.x/vendor/
Slim/slim-4.x/test/
Slim/slim-4.x/runtime/
Slim/slim-4.x/logs/
Slim/slim-4.x/tests/
Slim/slim-4.x/var/
############################################################################

###########################################################################
# Fat-free-3.x
################################Fat-free-3.x#################################
# composer 依赖
Fat-free/fatfree-3.x/vendor/
Fat-free/fatfree-3.x/test/
Fat-free/fatfree-3.x/runtime/
Fat-free/fatfree-3.x/logs/
Fat-free/fatfree-3.x/tests/
############################################################################

###########################################################################
# Flight-3.x
################################Flight-3.x#################################
# composer 依赖
Flight/flight-3.x/vendor/
############################################################################

###########################################################################
# FuelPHP-1.9
################################FuelPHP-1.9#################################
# composer 依赖
FuelPHP/fuel-1.9/vendor/
############################################################################

###########################################################################
# Nette-3.x
################################Nette-3.x#################################
# composer 依赖
Nette/nette-3.x/vendor/
Nette/nette-3.x/log/*
Nette/nette-3.x/temp/*
############################################################################

###########################################################################
# PHPixie-3.x
################################PHPixie-3.x#################################
# composer 依赖
PHPixie/phpixie-3.x/vendor/
PHPixie/phpixie-3.x/tests/*
PHPixie/phpixie-3.x/temp/*
PHPixie/phpixie-3.x/logs/*
############################################################################

###########################################################################
# Aura-2.x
################################Aura-2.x#################################
# composer 依赖
Aura/Aura-2.x/vendor/
Aura/Aura-2.x/tests/*
Aura/Aura-2.x/tmp/*
Aura/Aura-2.x/logs/*
############################################################################

###########################################################################
# Lumen-10.x
################################Lumen-10.x#################################
# composer 依赖
Lumen/lumen-2.x/vendor/
Lumen/lumen-2.x/tests/*
Lumen/lumen-2.x/storage/*
############################################################################

###########################################################################
# Laminas-2.x
################################Laminas-10.x#################################
# composer 依赖
Laminas/laminas-2.x/vendor/
Laminas/laminas-2.x/tests/*
Laminas/laminas-2.x/data/*
############################################################################