###################################公共配置###################################
# IDE配置
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 操作系统无用文件
.DS_Store
Thumbs.db
TEST.md

# 其它缓存类文件
*.swp
*.bak
*.tmp

# 日志文件
*.log

# 其它配置文件
.htaccess

supervisord
supervisord.log
supervisord.pid

############################################################################
# Laravel5.8
################################Laravel5.8#################################
# 运行时生成的缓存、日志
Laravel/laravel-5.8/storage/logs/*
# composer 依赖
Laravel/laravel-5.8/vendor/
# 测试文件
Laravel/laravel-5.8/tests/
############################################################################

# Laravel6.x
################################Laravel6.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-6.x/storage/logs/*
# composer 依赖
Laravel/laravel-6.x/vendor/
# 测试文件
Laravel/laravel-6.x/tests/
############################################################################

# Laravel7.x
################################Laravel7.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-7.x/storage/logs/*
# composer 依赖
Laravel/laravel-7.x/vendor/
# 测试文件
Laravel/laravel-7.x/tests/
############################################################################

# Laravel8.x
################################Laravel8.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-8.x/storage/logs/*
# composer 依赖
Laravel/laravel-8.x/vendor/
# 测试文件
Laravel/laravel-8.x/tests/
############################################################################

# Laravel9.x
################################Laravel9.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-9.x/storage/logs/*
# composer 依赖
Laravel/laravel-9.x/vendor/
# 测试文件
Laravel/laravel-9.x/tests/
############################################################################

# Laravel10.x
################################Laravel10.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-10.x/storage/logs/*
# composer 依赖
Laravel/laravel-10.x/vendor/
# 测试文件
Laravel/laravel-10.x/tests/
############################################################################

# Laravel11.x
################################Laravel11.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-11.x/storage/logs/*
# composer 依赖
Laravel/laravel-11.x/vendor/
# 测试文件
Laravel/laravel-11.x/tests/
############################################################################

# Laravel12.x
################################Laravel12.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-12.x/storage/logs/*
# composer 依赖
Laravel/laravel-12.x/vendor/
# 测试文件
Laravel/laravel-12.x/tests/
############################################################################

###########################################################################
# Webman1.6
################################Webman1.6#################################
# 运行时生成的缓存、日志
Webman/webman-1.6/runtime/*
# composer 依赖
Webman/webman-1.6/vendor/
############################################################################

###########################################################################
# Webman2.1
################################Webman2.1#################################
# 运行时生成的缓存、日志
Webman/webman-2.1/runtime/*
# composer 依赖
Webman/webman-2.1/vendor/
############################################################################

###########################################################################
# ThinkPHP6.x
################################ThinkPHP6.x#################################
# 运行时生成的缓存、日志
ThinkPHP/thinkphp-6.x/runtime/*
# composer 依赖
ThinkPHP/thinkphp-6.x/vendor/
ThinkPHP/thinkphp-6.x/.env
############################################################################

###########################################################################
# ThinkPHP8.x
################################ThinkPHP8.x#################################
# 运行时生成的缓存、日志
ThinkPHP/thinkphp-8.x/runtime/*
# composer 依赖
ThinkPHP/thinkphp-8.x/vendor/
ThinkPHP/thinkphp-8.x/.env
############################################################################

###########################################################################
# Yii1.1
################################Yii1.1#################################
Yii/yii-1.1/requirements/
############################################################################

###########################################################################
# Yii2.x
################################Yii2.x#################################
Yii/yii-2.x/runtime/*
# composer 依赖
Yii/yii-2.x/vendor/
Yii/yii-2.x/tests/
Yii/yii-2.x/tmp/
############################################################################

###########################################################################
# Ci4.x
################################Ci4.x#################################
CodeIgniter/ci-4.x/runtime/*
# composer 依赖
CodeIgniter/ci-4.x/vendor/
CodeIgniter/ci-4.x/tests/
CodeIgniter/ci-4.x/writeable/cache/*
CodeIgniter/ci-4.x/writeable/logs/*
CodeIgniter/ci-4.x/writeable/sessions/*
CodeIgniter/ci-4.x/writeable/debugbar/*
Symfony/symfony-7.x/.env
############################################################################

###########################################################################
# Ci3.x
################################Ci3.x#################################
CodeIgniter/ci-3.x/runtime/*
# composer 依赖
CodeIgniter/ci-3.x/vendor/
CodeIgniter/ci-3.x/tests/
CodeIgniter/ci-3.x/application/logs/*
CodeIgniter/ci-3.x/application/cache/*
############################################################################

###########################################################################
# Symfony6.x
################################Symfony6.x#################################
Symfony/symfony-6.x/var/*
# composer 依赖
Symfony/symfony-6.x/vendor/
Symfony/symfony-6.x/tests/
Symfony/symfony-6.x/.env
############################################################################

###########################################################################
# Symfony7.x
################################Symfony7.x#################################
Symfony/symfony-7.x/var/*
# composer 依赖
Symfony/symfony-7.x/vendor/
Symfony/symfony-7.x/tests/
Symfony/symfony-7.x/.env
############################################################################