###################################公共配置###################################
# IDE配置
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 操作系统无用文件
.DS_Store
Thumbs.db
TEST.md

# 其它缓存类文件
*.swp
*.bak
*.tmp

# 日志文件
*.log

# 其它配置文件
.htaccess

############################################################################

# Laravel12.x
################################Laravel12.x#################################
# 运行时生成的缓存、日志
Laravel/laravel-12.x/storage/logs/*
# composer 依赖
Laravel/laravel-12.x/vendor/
# 测试文件
Laravel/laravel-12.x/tests/
############################################################################
