!.gitignore
.git
.svn
.idea
node_modules
*.logx
.htaccessx
.gitignore
.travis.yml
.dockerignore
nginx.conf

supervisord
supervisord.log
supervisord.pid
docker/Dockerfile
docker/Dockerfile.volume
docker/docker-compose.volume.yaml
docker/docker-compose.yaml
docker/README.md

vendor/
var/


