Application/Runtime/*
!.gitignore
.git
.svn
.idea
node_modules
.htaccess
.dockerignore
.gitignore
*.log

supervisord
supervisord.log
supervisord.pid
docker/Dockerfile
docker/Dockerfile.volume
docker/docker-compose.volume.yaml
docker/docker-compose.yaml
docker/README.md

vendor/*
runtime/*
tests/
tmp/*